<form #companyForm="ngForm" class="container mt-3" novalidate (ngModelChange)="onFormChange()">
    <div class="row mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Company Name</mat-label>
          <input matInput name="companyName" #companyName="ngModel" [(ngModel)]="companyContact.companyName" required>
          <mat-error *ngIf="companyForm.controls['companyName']?.invalid && (companyForm.controls['companyName']?.dirty || companyForm.controls['companyName']?.touched)">
            Company Name is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Telephone</mat-label>
          <input matInput name="telephone" #telephone="ngModel" [(ngModel)]="companyContact.telephone"
          (input)="onMobileNumberInput($event)" required pattern="^[0-9]{10}$">
          <mat-error *ngIf="companyForm.controls['telephone']?.invalid && (companyForm.controls['telephone']?.dirty || companyForm.controls['telephone']?.touched)">
            <span *ngIf="telephone.errors?.['required']">Kindly fill Mobile Number.</span>
            <span *ngIf="telephone.errors?.['pattern']">Mobile Number should be 10 digits.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput name="email" #email="ngModel" [(ngModel)]="companyContact.email" required email>
          <mat-error *ngIf="companyForm.controls['email']?.invalid && (companyForm.controls['email']?.dirty || companyForm.controls['email']?.touched)">
            <span *ngIf="companyForm.controls['email']?.errors?.['required']">Email is required.</span>
            <span *ngIf="companyForm.controls['email']?.errors?.['email']">Please enter a valid email.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Fax</mat-label>
          <input matInput name="fax" #fax="ngModel" [(ngModel)]="companyContact.fax"
          (input)="onMobileNumberInput($event)" required pattern="^[0-9]{10}$">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Website</mat-label>
          <input matInput name="website" #website="ngModel" [(ngModel)]="companyContact.website" required>
          <mat-error *ngIf="companyForm.controls['website']?.invalid && (companyForm.controls['website']?.dirty || companyForm.controls['website']?.touched)">
            Website is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Point of Contact Name</mat-label>
          <input matInput name="pointOfContactName" #pointOfContactName="ngModel" [(ngModel)]="companyContact.pointOfContactName">
        </mat-form-field>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Point of Contact Title</mat-label>
          <input matInput name="pointOfContactTitle" #pointOfContactTitle="ngModel" [(ngModel)]="companyContact.title">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Contact Phone 1</mat-label>
          <input matInput name="contactPhone1" #contactPhone1="ngModel" [(ngModel)]="companyContact.contactPhone1" 
          (input)="onMobileNumberInput($event)" required pattern="^[0-9]{10}$">
          <mat-error *ngIf="companyForm.controls['contactPhone1']?.invalid && (companyForm.controls['contactPhone1']?.dirty || companyForm.controls['contactPhone1']?.touched)">
            Contact Phone 1 is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Contact Email</mat-label>
          <input matInput name="contactEmail" #contactEmail="ngModel" [(ngModel)]="companyContact.contactEmail" required email>
          <mat-error *ngIf="companyForm.controls['contactEmail']?.invalid && (companyForm.controls['contactEmail']?.dirty || companyForm.controls['contactEmail']?.touched)">
            <span *ngIf="companyForm.controls['contactEmail']?.errors?.['required']">Contact Email is required.</span>
            <span *ngIf="companyForm.controls['contactEmail']?.errors?.['email']">Please enter a valid email.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Contact Phone 2</mat-label>
          <input matInput name="contactPhone2" #contactPhone2="ngModel" [(ngModel)]="companyContact.contactPhone2"
          (input)="onMobileNumberInput($event)" required pattern="^[0-9]{10}$">
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100">
          <mat-label>Address</mat-label>
          <input matInput name="address" #address="ngModel" [(ngModel)]="companyContact.mailingAddress" required>
          <mat-error *ngIf="companyForm.controls['address']?.invalid && (companyForm.controls['address']?.dirty || companyForm.controls['address']?.touched)">
            Address is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 text-end">
        <button
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="!companyForm.valid"
          (click)="continue(companyForm)"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
  